/* New style*/

div.content {
    position: absolute;
    height: 520px;
    max-width: 900px;
    border-radius: 20px 20px 20px 20px;
    overflow: hidden;
}

.navigation {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translate(-50%);
    display: flex;

}

.bar {
    width: 70px;
    height: 17px;
    border: 2px solid white;
    margin:  7px;
    border-radius: 7px;
    cursor: pointer;
    transition: 0.4s;
}

.bar:hover {
    background-color: var(--colour04);
}

input.radioo {
    display: none;
}

.slide {
    display: flex;
    width: 500%;
    height: 100%;
}