@charset "UTF-8";

@font-face {
    font-family: "modern";
    src: url(font/xirod.ttf);
}

/* All for one */

:root {
    --colour00: #000000; /* Black */
    --colour01: #266DD3; /* Celtic blue */
    --colour03: #303030; /* */
    --colour04: #B80C09; /* Internatioanl */
    --colour05: #F7F7FF; /* Ghost white */
    --colour06: #EEC643; /* Ming */
    --colour07: #077a07;
}

* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    padding: 0px;
}

/* --------------*/

/* BASIC */

header {
    text-align: left;
    background-color: var(--colour00);
    padding: 10px;
}

header > p {
    color: var(--colour05);
    font-size: 1.0em;
    text-shadow: 2px 0px 5px #000000, -2px 0px 5px #000000, 0px 2px 5px #000000, 0px -2px 5px #000000;
    text-align: center;
    padding: 10px 0px 10px 0px;
}

nav {
    background-color: var(--colour00);
    box-shadow: 0px 2px 4px #00000050;
    padding: 10px;
}

nav > a {
    color: var(--colour05);
    margin: 10px;
    padding: 10px;
    font-weight: bold;
    text-decoration: none;
    line-height: 40px;
}

nav > a:hover {
    color: var(--colour05);
    background-color: var(--colour01);
    border-radius: 4px;
    transition: 0.4s;
}

a.external {
    text-decoration: none;
    font-weight: bold;
}

a.external::after {
    content: '\00A0\1F517'
}
hr {
    margin: 20px;
}

body {
    background-color: var(--colour05);
}

main {
    background-color: var(--colour05);
}

section.main {
    background-color: var(--colour05);
    margin: auto;
    padding: 20px;
    max-width: 1000px;
}

article {
    text-align: center;
}


footer {
    background-color: var(--colour00);
}

footer p {
    color: var(--colour05);
    text-align: center;
}

/* -------------- */

/* ------- News -------*/

section.news {
    min-width: 300px;
    min-height: 500px;
    margin: 0px;
    padding: 15px;
    background-image: url(images/photos/12.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: repeat;

}

article.main {
    background-color: transparent;
    color: var(--colour05);
    margin: auto;
    max-width: 1000px;
}

div.news {
    display: inline-block;

}

h3.news {
    text-align: right;
    font-weight: bolder;
}

a.news {
    color: var(--colour05);
}

/* -------------- */

/* ------- Services -------*/

article.services {
    text-align: center;
}

div.box {
    position: relative;
    display: inline-block;
    height: 180px;
    width: 300px;
    margin: 5px;
    background-color: #000000;
    border: 2px solid #000000;
}

div.txt {
    position: absolute;
    background-color: transparent;
    border: 5px solid #ffffff;
    height: 100px;
    width: 220px;
    left: 50%;
    top: 50%;
    box-shadow: 2px 0px 2px #000000ab, -2px 0px 2px #000000ab, 0px 2px 2px #000000ab, 0px -2px 2px #000000ab;
    box-shadow: inset 2px 0px 2px #000000ab, -2px 0px 2px #000000ab, 0px 2px 2px #000000ab, 0px -2px 2px #000000ab;
    transform: translate(-50%,-50%);
}

div.box p {
    text-align: center;
    font-size: 30px;
    text-indent: 0px;
    text-shadow: 3px 0px 3px #000000, -3px 0px 3px #000000, 0px 3px 3px #000000, 0px -3px 3px #000000;
    color: #ffffff;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

div.box:hover {
    box-shadow: 5px 5px 10px;
    background-color: #00000080;
}

div#q1 {
    background-image: url(images/new-images/normal/1.2.jpg);
    background-size: 100%;
}

div#q2 {
    background-image: url(images/new-images/normal/2.jpg);
    background-size: 100%;
}

div#q3 {
    background-image: url(images/new-images/normal/3.png);
    background-size: 100%;
}

div#q4 {
    background-image: url(images/new-images/normal/4.3.jpg);
    background-size: 100%;
}

div#q5 {
    background-image: url(images/new-images/normal/5.1.png);
    background-size: 100%;

}

div#q6 {
    background-image: url(images/new-images/normal/6.png);
    background-size: 100%;
}

/* -------------- */

/* ------- Superintendencia -------*/

section.superin {
    background-color: var(--colour00);
    margin: 20px;
    padding: 10px;
    border-radius: 20px;
    max-width: 1000px;
}

div.superin {
    background-color: #000000;
    border: solid 5px var(--colour06);
    border-radius: 5px;
    height: 250px;
    width: 250px;
    margin: 5px;
    box-shadow: #0000009f 2px 2px 4px;
}

div#patricia {
    background-image: url(images/sp/patricia.jpg);
    background-size: cover;
    background-position: center center;
}

div#moreira {
    background-image: url(images/sp/moreira.png);
    background-size: cover;
    background-position: right center;
}

div#carla {
    background-image: url(images/sp/carla02.jpg);
    background-size: cover;
    background-image: center center;
}

div#fernandes {
    background-image: url(images/sp/fernandes.jpg);
    background-size: cover;
    background-position: center center;
}

/* --------------*/

/* ------- Photos -------*/

div.photos {
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    height: 500px;
    margin: 10px;
}

div#tropa {
    background-image: url(images/photos/7.jpeg);
}

div#gcmpf {
    background-image: url(images/photos/1.jpg);
}

div#novocmt {
    background-image: url(images/photos/6.jpeg);
}

div#mp {
    background-image: url(images/photos/8.jpg);
    background-attachment: fixed;
    box-shadow: inset 15px 2px 45px;
}

div#canil {
    background-image: url(images/photos/9.jpg);
}


img#bo {
    display: block;
    margin: auto;
    padding: 20px;
}

img.photo {
    width: 100%;
}

img#logo {
    float: left;
    display: inline;
    text-align: left;
    padding: 20px;
}

/* --------------*/

/* ------- Boxes -------*/

div.area {
    text-align: center;
    margin: auto;
}

textarea {
    font-size: 14px;
    text-indent: 10px;
    margin: auto;
    padding: 20px;
}

div.result {
    margin: 20px;
    background-color: #20aa20;
}

/* --------------*/

/* ------- button -------*/

div.button {
    background-color: var(--colour04); /* red is colour04 and green is colour07*/
    color: var(--colour05);
    font-size: 20px;
    margin: auto;
    text-align: center;
    line-height: 100px;
    height: 100px;
    width: 300px;
    border-radius: 40px;
}
div#on {
    background-color: var(--colour07);
}
/* --------------*/

/* ------- TXT -------*/

h1#main {
    color: var(--colour05);
    font-family: "modern", Arial, Helvetica, sans-serif;
    text-shadow: 2px 0px 5px var(--colour03), -2px 0px 5px var(--colour03), 0px 2px 5px var(--colour03), 0px -2px 5px #000000;
    text-align: left;
    padding: 50px;
}

h2 {
    color: var(--colour00);
    text-align: left;
    padding: 10px;
}

h2.alt {
    color: var(--colour05);
}

h3 {
    text-align: center;
}

p {
    font-size: 16px;
    text-indent: 20px;
    text-align: justify;
    padding: 20px;
    line-height: 30px;

}

p.content {
    color: var(--colour05);
    text-align: center;
    font-size: 30px;
    line-height: 50px;
    text-shadow: 3px 0px 3px #000000, -3px 0px 3px #000000, 0px 3px 3px #000000, 0px -3px 3px #000000;
    padding-top: 30%;
}

p.txt {
    font-size: 18px;
    line-height: 40px;
}

/* -------------- */

/* ------- INPUT -------*/

input.txt {
    font-size: 14px;
    width: 250px;
    height: 20px;
    padding: 4px 5px 4px 5px;
}

/* -------------- */

/* ------- Link -------*/

a {
    text-decoration: none;
}

a.service {
    text-decoration: none;
    color: #000000;
}

/* -------------- */


div.video {
    background-color: var(--colour05);
    margin: 30px -20px 30px -20px;
    padding: 20px;
    padding-bottom: 50%;
    position: relative;
}

div.video > iframe {
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%
}

