@charset "UTF-8";

body {
    background-image: linear-gradient(to right, var(--colour08), var(--colour06));
}

section#login {
    width: 80vw;
    height: 490px;
}

div#image {
    float: right;
    height: 100%;
    width: 50%;
}

div#form {
    float: left;
    height: 490px;
    width: 50%;

}

h1 {
    font-size: 3em;
}

p {
    font-size: 1.5em;
}